:host {
    display: unset;
}

.login {
    &__header {
        height: 25vh;
        background-image: linear-gradient(
            to right bottom,
            rgba(var(--ion-color-primary-tint-rgb), 0.3),
            rgba(var(--ion-color-primary-shade-rgb), 0.3)),
            url(../../../assets/img/login-img.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    &__logo-box {
        height: 10%;
        width: 50%;
        margin: 15% auto;
        border: 2px solid var(--ion-color-primary);
    }


    &__form {
        width: 80%;
        margin: 0 auto;        

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    &__input-box {
        width: 100%;
        
        --border-color: var(--ion-color-primary);

        &::part(native) {
            background-color: var(--ion-background-color);
        }
        
    }


    &__btn {
        margin-top: 10%;
        width: 50%;
        height: 50px;
    }
}