<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <div class="description">
    <h1>Denúncias</h1>

    <p>Aqui você pode acompanhar as suas denúncias.</p>
    <p>Clique nos botões indicados caso queira exluí-las ou editá-las.</p>
    
  </div>

  <div class="list">
    <!-- <span class="list__empty">Você ainda não cadastrou nenhuma denúncia, vá para aba de cadastro para adicioná-las</span> -->

    <ion-card class="card">    
      <ion-card-content>
        <p><strong>Logradouro:</strong> Av. dos Autonomistas</p>
        <p><strong>CEP:</strong> 32548-884</p>
        <p><strong>Bairro:</strong> Centro</p>
        <p><strong>Cidade:</strong> Osasco</p>
        <p><strong>UF:</strong> SP</p>
        <p><strong>Nome:</strong> Pessoa</p>
        <p><strong>Tel:</strong> 113485-8842</p>
        
        <div class="btn-box">
          <ion-button (click)="apagarDenuncia()" color="danger">Exluir</ion-button>
          <ion-button color="warning">Editar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>


</ion-content>
