<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <div class="description">
    <h1>Denúncias</h1>

    <p>Aqui você pode acompanhar as suas denúncias.</p>
    <p>Clique nos botões indicados caso queira exluí-las ou editá-las.</p>
    
  </div>

  <div class="list">
    <span *ngIf="!hasDenuncia" class="list__empty">Você ainda não cadastrou nenhuma denúncia, vá para aba de cadastro para adicioná-las</span>

    <ion-card class="card" *ngFor="let card of denuncias">    
      <ion-card-content>
        <p><strong>Nome:</strong> {{ card.nome }}</p>
        <p><strong>Tel:</strong> {{ card.telefone }}</p>
        <p><strong>Logradouro:</strong> {{ card.logradouro }}</p>
        <p><strong>Bairro:</strong> {{ card.bairro }}</p>
        <p><strong>CEP:</strong> {{ card.cep }}</p>
        <p><strong>Cidade:</strong> {{ card.cidade }}</p>
        <p><strong>UF:</strong> {{ card.uf }}</p>
        <p><strong>Descrição:</strong> {{ card.descricao }}</p>
        
        <div class="btn-box">
          <ion-button (click)="apagarDenuncia(card.id_denuncias)" color="danger">Exluir</ion-button>
          <ion-button routerLink="/editar/{{ card.id_denuncias }}" color="warning">Editar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>
