ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .description {
    padding: 0 1.5rem;

    p {
      text-indent: 1.5rem;
      font-size: 16px;
      line-height: 22px;
      color: #8c8c8c;
      margin: 0;
    }
  }

  .list {
    margin-top: 2rem;
    padding: 0 1.5rem;

    &__empty {
      color: var(--ion-color-danger);
    }
  }

  .card {
    border: 1px solid var(--ion-color-primary);

    strong {
      font-size: 17px;
      color: var(--ion-color-primary-shade)
    }

  }
  

  .btn-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }